@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');


* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    list-style-type: none;
    -webkit-backface-visibility: hidden;
    
}

html, body{
    height:100%;
    color: white;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-backface-visibility: hidden;
}

body{
    background-image: url("images/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
a, a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}

img{
    max-width:100%;
}
.icon{
    max-width: 3vh;
}
.icon-wide{
    max-width: 3.5vh;
}
/*

Page Grid

*/
.wrapper{
    display: -ms-grid;
    display: grid;
    height:100%;
        grid-template-areas: 
        "header header nav"
        "spacer content nav"
        "footer footer nav";

    -ms-grid-rows: 10% auto 10%;

    grid-template-rows: 10% auto 10%;
    -ms-grid-columns: 10% auto 10%;
    grid-template-columns: 10% auto 10%;
}

.logo h1{
    font-family: Raleway;
    font-size: 2em;
}
#header{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
}
.header h1{
    font-size: 2rem;
}
#content{
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: content;
}
#spacer{
    -ms-grid-row:2;
    -ms-grid-column:1;
    grid-area:spacer;
}
#footer{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
}
#nav{
    -ms-grid-row:1;
    -ms-grid-row-span:3;
    -ms-grid-column:3;
    grid-area:nav;
}

#overlay{
    width:100%;
    height:100%;
    position: absolute;
    background-color: rgba(12, 12, 12, 0.6);  
    z-index: -1;
}
/*
Nav
*/
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:100%;
}

nav ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width:100%;
    height:50%;
    text-align: center;
}
.nav-icon{
    max-width:3vh;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    cursor: pointer;

}

.nav-icon:hover{ 
    -webkit-transform: scale(1.5); 
        -ms-transform: scale(1.5); 
            transform: scale(1.5); 
}
.nav-icon:active{
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5);
}
/*
Start of Page Sections
*/

/* Home */
#home{
    height:100%;
    width:100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height:100%;
    width:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

#home h1{
    font-size: 2.5em;
    line-height: 2em;
    font-weight: 50;
}
#home p{
    font-size:1.3em;
}


#about, #skills, #portfolio, #contact{
    display: none;
}

#home, #about, #skills, #portfolio, #contact{
    will-change: opacity;
}

button{
    display: block;
    width:20%;
    height:5%;
    font-size:1.5em;
    background-color: rgba(255, 255, 255, 0); 
    color:white;
    border-style: outset;
    cursor: pointer;

}

/* About */
#about{
    width:100%;
    height:100%;
    visibility: hidden;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#about-wrapper{
    display:-ms-grid;
    display:grid;
    height:75%;
    width:100%;
    margin-top:15%;
    text-align: left;
        grid-template-areas: 
        "about-me my-hobbies why-dev";
    -ms-grid-rows:0.5fr;
    grid-template-rows:0.5fr;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}
#about-me{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: about-me;
}
#my-hobbies{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: my-hobbies;
}
#why-dev{
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: why-dev;
}

#about h1{
    text-align: center;
    padding: 0.5em;
    text-decoration: underline;
}
#about p{
    padding:1em;
}

/* Skills */

#skills{
    visibility: hidden;
    width:100%;
    height:100%;
}
#skills-wrapper{
    display:-ms-grid;
    display:grid;
    height:80%;
    width:100%;
        grid-template-areas: 
        "skills-education skills-skillset";
    -ms-grid-columns: 1fr 2em 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows:0.6fr;
    grid-template-rows:0.6fr;
    grid-column-gap:2em;

}
#skills-education{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: skills-education;
}
#skills-selfpaced{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: skills-skillset;
}

#skills h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 1em;
}
.education-list-wrapper{
    width:100%;
    height:80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.education-list-wrapper li{
    padding-bottom: 1em;
}

.edu-item-wrapper{
    display: -ms-grid;
    display: grid;
    height:50%;
    -ms-grid-rows: auto 0.2em auto;
        grid-template-areas: 
        "edu-date edu-header"
        "edu-date edu-desc";

    -ms-grid-columns: 0.25fr 0.1em 1fr;

    grid-template-columns: 0.25fr 1fr;
    grid-column-gap: 0.1em;
    grid-row-gap: 0.2em;
}

.edu-item-wrapper h3{
    text-decoration: underline;
}

.edu-date{
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: edu-date;
}
.edu-header{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: edu-header;
}
.edu-desc{
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: edu-desc;
}

.edu-header, .edu-desc{
}


#skills-skillset h3{
    text-decoration: underline;
}

/*
Portfolio
*/

#portfolio{
    visibility: hidden;
}

#portfolio-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width:100%;
    height:100%;

}

.portfolio-item{
    font-size: 1em;
    margin-left: 1em;
    margin-right:1em;
    max-height: 20%;
    max-width: 20%;
    border-style: solid;
    border-width: 1px;
    border-radius:25px;
    overflow: hidden;

    -webkit-transition: all .2s ease-in-out;

    -o-transition: all .2s ease-in-out;

    transition: all .2s ease-in-out;
}

.portfolio-item:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
}
.portfolio-icon{
    max-width: 100%;
}

.portfolio-info{
    padding: 10px;
}
.portfolio-info h1{
    padding-bottom:10px;
}

.portfolio-info p{
    padding-bottom:10px;
}
.portfolio-tags{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.portfolio-tags li{
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 5px;
}

.cv-1-page{
    background-image: url("portfolio-image/website.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Contact
*/
#contact{
    visibility: hidden;
    width:100%;
    height:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contact-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width:60%;
    height:50%;
}

#contact-wrapper h1{
    text-align: center;
    font-size: 2em;
}
#contact-wrapper h2{
    text-align: center;
    font-size: 1.5em;
    margin-top:2em;
    margin-bottom:1em;
}

#contact-wrapper p{
    text-align: center;
}
.contact-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:50%;
}

.contact-icons-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}


/*
Footer
*/

#footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.footer-left{
    opacity: 0.5;
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
}
.footer-middle{
    -webkit-box-flex:3;
        -ms-flex:3;
            flex:3;
}
.footer-right{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
}
.footer-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width:100%;
    -ms-flex-item-align: end;
        align-self: flex-end;
}
/*

Key Frames

*/
.fadeOut{
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: keyFadeOut;
            animation-name: keyFadeOut;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}

@-webkit-keyframes keyFadeOut{
    from{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
    99%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
        
    }
    to{
    }
}

@keyframes keyFadeOut{
    from{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
    99%{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    to{
        opacity: 0;
    }
}

.fadeIn{
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-name: keyFadeIn;
            animation-name: keyFadeIn;
    -webkit-animation-duration: 1.0s;
            animation-duration: 1.0s;
}

@-webkit-keyframes keyFadeIn{
    from{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    99%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

@keyframes keyFadeIn{
    from{
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
        opacity: 0;
    }
    99%{
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
        opacity: 1; 
    }
    to{
           
    }
}


@media only screen and (max-width:1270px){
    #content{
        overflow: auto;
    }
    .wrapper{
        display: -ms-grid;
        display: grid;
        height:100%;
            grid-template-areas: 
            "nav nav nav"
            "content content content"
            "footer footer footer";

        -ms-grid-rows: 8% 84% 8%;

        grid-template-rows: 8% 84% 8%;
        -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
    }
    nav ul{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width:50%;
    }
    button{
        font-size: 1em;
    }
    #about-wrapper{
        margin:0;
        height:100%;
    }
    .footer-left{
        display: none;
    }
    .footer-middle{
        display: none;
    }
    .footer-icons{
        width:50%;
        margin: auto;
    }
    #footer{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #content{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    #footer{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
    #nav{
        -ms-grid-row:1;
        -ms-grid-row-span:1;
        -ms-grid-column:1;
        -ms-grid-column-span:3;
    }
}